.page {
  height: 100%;
}

.page-body {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: var(--basic-font);
  background: var(--grey-2);
}

