.page {
  height: 100vh;
  width: 100vw;
}

.page-body {
  // display: flex;
  margin: 0;
  padding: 0;
  // height: 100vh;
  // width: 100vw;
  font-family: var(--basic-font);
  background: rgba(255, 0, 0, 0.2);
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 75%;
}

