.header {
  margin: 0;
  padding: 0;
  position: relative;
  background: rgb(41 ,189 ,91);
  background: linear-gradient(90deg, rgba(41,189,91,1) 20%, rgba(81,185,31,1) 40%, rgba(32,208,58,1) 60%, rgba(101,210,97,1) 80%);
  // height: 20vh;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 15% 25% 25% 5%;
}
