.lessons {

  &__item {
    outline: 2px solid black;
    width: 100%;
  }


  &__list {
    margin: 0;

    padding: 25px;
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

  }

  &__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
  }

  &__time-red {
    font-size: 24px;
  }

  &__author {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
  }

  &__time {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
  }
}
