
.running-line {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.running-line__text {
  color: var(--black);
  font-size: 26px;
  display: inline-block;
  padding-left: 100%;
  animation: running-line 20s infinite linear;
}


@keyframes running-line {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
