.section {
  display: flex;
  justify-content: flex-start;

  &--one {
    opacity: 1;
    width: 45%;
    overflow-y: scroll;
    height: 670px;
  }

  &--two {
    opacity: 1;
    width: 100%;
  }
}
