:root {
  --basic-font: "Roboto", "Arial", sans-serif;
  --black: #212121;
  --white: #ffffff;
  --sp-white: rgba(0, 40, 120, 0);
  --gr-1: #0f945a;
  --gr-2: #36c598;
  --gr-3: #27d883;
  --gr-4: #21b76f;
  --gr-5: rgba(18, 167, 105, 0.75);
}


.visually-hidden {
  transform: scale(0);
}
