:root {
  --basic-font: "Roboto", "Arial", sans-serif;
  --black: #212121;
  --white: #ffffff;
  --sp-white: rgba(0, 40, 120, 0);
  --gr-1: #0f945a;
  --gr-2: #36c598;
  --gr-3: #27d883;
  --gr-4: #21b76f;
  --gr-5: rgba(18, 167, 105, 0.75);
  --blue: #2692ff;
  --grey: #444444;
  --grey-2: rgba(123, 123, 123, 0.2);
}


.visually-hidden {
  transform: scale(0);
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden
}
